/*----------------------------------------*/
/*----- Basic typo -----*/
/*----------------------------------------*/
body { color: #787878; }
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #38486f; }
a { color: #38486f; }
a:hover { color: #fd5a49; }
/*----------------------------------------*/
/*----- Backgrounds -----*/
/*----------------------------------------*/
.bg-trans { background-color: transparent !important; }
.bg-white { background-color: #fff !important; }
.bg-grey { background-color: #f8f8f8 !important; }
.bg-dark-grey { background-color: #efefef !important; }
.bg-blue { background-color: #4949fd !important; }
.bg-blue-trans { background-color: rgba(73, 73, 253, .9) !important; }
.bg-dark-blue { background-color: #38486f !important; }
.bg-dark-blue-trans { background-color: rgba(40, 56, 94, .85) !important; }
.bg-orange { background-color: #fd5a49 !important; }
.bg-orange-trans { background-color: rgba(253, 90, 73, .9) !important; }
.dtr-overlay { background-color: rgba(0, 0, 0, .8); }
/*----------------------------------------*/
/*----- Text -----*/
/*----------------------------------------*/
/*== dark ==*/
.color-dark { color: #28385e; }
/*== white ==*/
.color-white, .color-white h1, .color-white h2, .color-white h3, .color-white h4, .color-white h5, .color-white h6, .color-white a { color: #fff !important; }
/*== white muted ==*/
.color-white-muted, .color-white-muted h1, .color-white-muted h2, .color-white-muted h3, .color-white-muted h4, .color-white-muted h5, .color-white-muted h6, .color-white-muted a { color: rgba(255,255,255,.7) !important; }
/*== grey ==*/
.color-grey { color: #cecece; }
.color-grey-muted { color: #b2b2b2; }
/*== blue ==*/
.color-blue { color: #4949fd; }
.color-dark-blue { color: #38486f; }
.color-dark-blue-muted { background-color: rgba(40, 56, 94, .9) !important; }
/*== orange ==*/
.color-orange { color: #fd5a49; }
.text-grad-orange { background: rgb(253,90,73); background: -webkit-linear-gradient(90deg, rgba(253,90,73,1) 0%, rgba(73,73,253,1) 100%); background: linear-gradient(90deg, rgba(253,90,73,1) 0%, rgba(73,73,253,1) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
/*----------------------------------------*/
/*----- Buttons -----*/
/*----------------------------------------*/
.dtr-btn, input[type="submit"] { background-color: #202020; border-color: #202020; color: #fff; }
.dtr-btn-flat { background-color: transparent; border-color: #202020; color: #202020; }
.dtr-btn i { color: inherit !important; }
/*-- white --*/
.btn-white { background-color: #fff; border-color: #fff; color: #202020; }
.btn-flat-white { border-color: #fff; color: #fff; }
.btn-flat-white:hover { background-color: #fff; color: #202020; }
/*-- grey --*/
.btn-grey { background-color: #e5e5e5; border-color: #e5e5e5; color: #202020; }
.btn-flat-grey { border-color: #e5e5e5; color: #e5e5e5; }
.btn-flat-grey:hover { background-color: #e5e5e5; color: #202020; }
/*-- blue --*/
.btn-blue { background-color: #4949fd; border-color: #4949fd; color: #fff; }
.btn-flat-blue { border-color: #4949fd; color: #4949fd; }
.btn-flat-blue:hover { background-color: #4949fd; color: #fff; }
/*-- dark blue --*/
.btn-dark-blue { background-color: #38486f; border-color: #38486f; color: #fff; }
.btn-flat-dark-blue { border-color: #38486f; color: #38486f; }
.btn-flat-dark-blue:hover { background-color: #38486f; color: #fff; }
/*-- orange --*/
.btn-orange { background-color: #fd5a49; border-color: #fd5a49; color: #fff; }
.btn-flat-orange { border-color: #fd5a49; color: #fd5a49; }
.btn-flat-orange:hover { background-color: #fd5a49; color: #fff; }
/*===== button hovers =====*/
.dtr-btn:hover, .dtr-btn-flat:hover, #submit:hover, input[type="submit"]:hover { background-color: #202020; border-color: #202020; color: #fff; }
/*----------------------------------------*/
/*----- Borders -----*/
/*----------------------------------------*/
.dtr-border-top, .dtr-border-right, .dtr-border-bottom, .dtr-border-left, .dtr-border-top-2px, .dtr-border-right-2px, .dtr-border-bottom-2px, .dtr-border-left-2px, .dtr-border-2px, .dtr-border-list li, .dtr-half-border-list li:after { border-color: #ccc; }
/*===== border =====*/
.border-dark { border-color: #202020 !important; }
.border-dark-muted { border-color: rgba(0, 38, 81, .05) !important; }
.border-white-muted { border-color: rgba(255, 255, 255, .05) !important; }
.border-white { border-color: #fff !important; }
.border-grey { border-color: #e5e5e5 !important; }
.border-blue { border-color: #4949fd !important; }
.border-orange { border-color: #fd5a49 !important; }
/*----------------------------------------*/
/*----- Forms -----*/
/*----------------------------------------*/
label, input, select, textarea, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"] { color: #303030; }
select, textarea, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"] { background-color: #fff; }
select, textarea, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"] { border-color: #e5e5e5; }
textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="search"]:focus { border-color: #4949fd !important; }
.wpcf7-validation-errors { background: #fff; }
.style-dark .wpcf7-validation-errors, .style-dark-2 .wpcf7-validation-errors { color: #424242; }
/* placeholder */
::-webkit-input-placeholder {
color: #9e9e9e !important;
opacity: 1;
font-size: 100%;
}
:-moz-placeholder {
color: #9e9e9e !important;
opacity: 1;
font-size: 100%;
}
::-moz-placeholder {
color: #9e9e9e !important;
opacity: 1;
font-size: 100;
}
:-ms-input-placeholder {
color: #9e9e9e !important;
opacity: 1;
font-size: 100%;
}
/*----------------------------------------*/
/*----- Misc -----*/
/*----------------------------------------*/
/*===== slick carousel =====*/
.dtr-slick-slider .slick-prev:before, .dtr-slick-slider .slick-next:before { color: #ccc; }
.dtr-slick-slider .slick-prev, .dtr-slick-slider .slick-next { background-color: transparent; border-color: #ccc; }
.dtr-slick-slider .slick-prev:hover, .dtr-slick-slider .slick-next:hover { background-color: #transparent; border-color: #ccc; }
.dtr-slick-slider .slick-prev:hover:before, .dtr-slick-slider .slick-next:hover:before { color: #ccc; }
/* dots - dark */
.dtr-slick-slider ul.slick-dots li button { background-color: rgba( 0, 0, 0, .2); }
.dtr-slick-slider ul.slick-dots li button:hover { background-color: #202020; }
.dtr-slick-slider ul.slick-dots li.slick-active button { background-color: transparent; }
.dtr-slick-slider ul.slick-dots li.slick-active button:after { border-color: #202020; }
/* dots - white */
.dtr-slick-slider.dots-color-light ul.slick-dots li button { background-color: rgba( 255, 255, 255, .2); }
.dtr-slick-slider.dots-color-light ul.slick-dots li button:hover { background-color: #f8f8f8; }
.dtr-slick-slider.dots-color-light ul.slick-dots li.slick-active button { background-color: transparent; }
.dtr-slick-slider.dots-color-light ul.slick-dots li.slick-active button:after { border-color: #f8f8f8; }
/*===== social widget =====*/
.dtr-social-circle .dtr-social-list a, .dtr-social-square .dtr-social-list a { background-color: #ccc; color: #fff !important; }
.dtr-social-circle .dtr-social-list a:hover, .dtr-social-square .dtr-social-list a:hover { background-color: #181818; color: #fff !important; }
.dtr-social-circle .dtr-social-list.social-dark a, .dtr-social-square .dtr-social-list.social-dark a { background-color: #181818; color: #474747 !important; }
.dtr-social-circle .dtr-social-list.social-dark a:hover, .dtr-social-square .dtr-social-list.social-dark a:hover { background-color: #181818; color: #fff !important; }
/*----------------------------------------*/
/*----- Header -----*/
/*----------------------------------------*/
/*===== Header =====*/
#dtr-header-global { background-color: transparent; }
#dtr-header-global.trans-header { background-color: transparent; }
#dtr-header-global.on-scroll { background-color: #fff; }
#dtr-header-global.on-scroll .on-scroll-color-dark { color: #202020 !important; }
/*----------------------------------------*/
/*----- Footer -----*/
/*----------------------------------------*/
#dtr-footer { background-color: #28385e; }
#dtr-footer, #dtr-footer a { color: #cecece; }
#dtr-footer h1, #dtr-footer h2, #dtr-footer h3, #dtr-footer h4, #dtr-footer h5, #dtr-footer h6 { color: #fff; }
#dtr-footer a:hover { color: #fff; }
/*----------------------------------------*/
/*----- Menu -----*/
/*----------------------------------------*/
/* menu on load */
.dtr-menu-light .nav-link { color: #fff; }
.dtr-menu-light .active { color: #fd5a49; }
.dtr-menu-light .nav-link:hover { color: #fd5a49; }
.dtr-menu-light .dropdown-item, .dtr-menu-default .dtr-nav .dropdown-item:focus { color: #202020; }
.dtr-menu-light .dropdown-item.active { background-color: transparent; color: #fd5a49; }
.dtr-menu-light .dropdown-item:hover, .dtr-menu-default .dtr-nav .dropdown-item:focus { background-color: #f8f8f8; }
.dtr-menu-light .dropdown-item:focus { background-color: transparent; }
/* menu on scroll */
.dtr-menu-dark .nav-link { color: #28385e; }
.dtr-menu-dark .active { color: #fd5a49; }
.dtr-menu-dark .nav-link:hover { color: #fd5a49; }
.dtr-menu-dark .dropdown-item, .dtr-menu-alt .dtr-nav .dropdown-item:focus { color: #28385e; }
.dtr-menu-dark .dropdown-item.active { background-color: transparent; color: #fd5a49; }
.dtr-menu-dark .dropdown-item:hover, .dtr-menu-alt .dtr-nav .dropdown-item:focus { background-color: #f8f8f8; }
.dtr-menu-dark .dropdown-item:focus { background-color: transparent; }
/*===== Responsive header =====*/
.dtr-responsive-header { background-color: #fff; }
.dtr-hamburger-lines, .dtr-hamburger-lines:after, .dtr-hamburger-lines:before { background-color: #202020; }
.slicknav_nav, .slicknav_menu { background-color: #fff; }
.slicknav_nav li, .slicknav_nav .dropdown-item { border-color: #e5e5e5; }
.slicknav_nav, .slicknav_nav a, .slicknav_menu .slicknav_menutxt { color: #202020; }
.slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover, .slicknav_nav .slicknav_row:hover a, .slicknav_nav a.active { color: #fd5a49; }
.slicknav_nav .dropdown-item.active, .slicknav_nav .dropdown-item:hover, .slicknav_nav .dropdown-item:focus { background-color: transparent; }
/*----------------------------------------*/
/*----- Elements -----*/
/*----------------------------------------*/
/*====== preloader =====*/
.dtr-preloader { background: #212121; }
.dtr-preloader-img { border-color: #2d2d2d; border-top-color: #fd5a49; }
/*===== feature =====*/
.dtr-feature-circle-icon .dtr-feature-img, .dtr-feature-square-icon .dtr-feature-img, .dtr-feature-circle-lg-icon .dtr-feature-img, .dtr-feature-square-lg-icon .dtr-feature-img { background-color: #ccc; }
.dtr-feature-circle-lg-icon .dtr-feature-img, .dtr-feature-square-lg-icon .dtr-feature-img { background-color: #fff; color: #fd5a49; }
/*===== highlight =====*/
.dtr-highlight { background-color: #ccc; color: #fff; }
/*===== Video Box =====*/
.dtr-video-button { background-color: #f8f8f8; color: #202020; }
/*===== icon box =====*/
.dtr-icon-box { background-color: transparent; border-color: #e5e5e5; }
.dtr-icon-box-icon, .dtr-icon-box-footer { background-color: #f8f8f8; color: #28385e; }
.box-has-hover.dtr-icon-box:hover { background-color: #fff; border-color: #fff; }
.box-has-hover:hover .dtr-icon-box-icon, .box-has-hover:hover .dtr-icon-box-footer { background-color: #28385e !important;  color: #fff; }
.box-has-hover:hover .dtr-icon-box-content, .box-has-hover:hover .dtr-icon-box-content .color-white { color: #28385e !important; }
/*===== circle icon =====*/
.dtr-circle-icon { background-color: #f8f8f8; }
/*===== Blockquote =====*/
.dtr-icon-blockquote:before { background-color: #fd5a49; color: #fff; }
.dtr-bordered-blockquote { border-color: #e5e5e5; }
/*===== Testimonial =====*/
.dtr-testimonial-user img { border-color: rgba( 255, 255, 255, .3); }
.dtr-testimonial-content:before { color: rgba( 255, 255, 255, .3); }
.dtr-testimonial-light-bg .dtr-testimonial-user img { border-color: rgba( 0, 0, 0, .3); }
.dtr-testimonial-light-bg .dtr-testimonial-content:before { color: rgba( 0, 0, 0, .3); }
/*===== Accordion =====*/
.dtr-accordion .card-header:first-child, .dtr-accordion.accordion > .card:not(:first-of-type) .card-header:first-child { border-color: #e5e5e5; }
.dtr-btn.accordion-btn-link.collapsed { background: none; color: #202020; }
.dtr-btn.accordion-btn-link, .dtr-btn.accordion-btn-link:hover { background: none; color: #202020; }
.dtr-accordion .card-body { background-color: #f8f8f8; }
.dtr-btn.accordion-btn-link, .dtr-btn.accordion-btn-link:hover { background-color: #28385e; color: #fff; }
/*===== accent bg hover =====*/
.accent-bg-hover:hover .accent-bg-hover-item { background-color: #fd5a49 !important; color: #fff !important; }
.accent-bg-hover:hover .accent-bg-hover-item h1, .accent-bg-hover:hover .accent-bg-hover-item h2, .accent-bg-hover:hover .accent-bg-hover-item h3, .accent-bg-hover:hover .accent-bg-hover-item h4, .accent-bg-hover:hover .accent-bg-hover-item h5, .accent-bg-hover:hover .accent-bg-hover-item h6, .accent-bg-hover:hover .accent-bg-hover-item a { color: #fff !important; }
/*===== accent link hover =====*/
.accent-color-hover a:hover { color: #fd5a49 !important; }